.main-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #f0f0f0; 
}

.osobni-podaci-container {
    margin: 20px;
    width: 1359px;  
    text-align: left; 
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transform: translateY(-100px); /* Podiže komponentu prema gore */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Siva sjena */

    position: relative;
    flex-direction: column; /* Postavlja elemente jedan ispod drugog */
    display: flex;
}

/* Stilizacija za naslov */
.osobni-podaci-container h1 {
    margin: 0; 
    padding-bottom: 10px;

    color: #323131;
    font-family: Raleway;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
    
}

/* Stilizacija za popis */
.moji-podaci-form-group {
    margin-top: 10px;
    list-style-type: none; 
    padding-left: 0;
}

.moji-podaci-form-group {
    margin-bottom: 10px; 
    color: rgba(50, 49, 49, 0.70);
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    flex-direction: column;
}

/* input unos */

.moji-podaci-inputs {
    border-radius: 30px;                   /* Zaobljeni uglovi */
    background: rgba(40, 134, 33, 0.30);   /* Poluprovidna zelena pozadina */
    padding: 10px 15px;                    /* Unutarnji razmak za udobnost */
    border: 1px solid #ccc;                /* Blaga ivica */
    font-size: 16px;                       /* Veličina teksta */
    transition: background-color 0.3s ease, width 0.3s ease; /* Glatki prijelazi */
    width: auto;                           /* Automatsko podešavanje širine */
    min-width: 300px;                      /* Minimalna širina */
}

.moji-podaci-inputs:focus {
    background: rgba(40, 134, 33, 0.10);   /* Svjetlija zelena kada je fokusirano */
    outline: none;                         /* Uklanja standardni outline */
    border-color: rgba(40, 134, 33, 0.6);  /* Tamnija ivica kad je fokusirano */
}

.moji-podaci-inputs::placeholder {
    color: rgba(40, 134, 33, 0.6);         /* Blaga boja za placeholder */
}

.moji-podaci-form-group label {
    margin-right: 10px;     /* Razmak između labela i inputa */
}

#moji-podaci-profile-form{
    margin-top: 20px;
}

#spremi-promjene-button,#zatvori-button {
    border-radius: 30px;                        /* Zaobljeni uglovi */
    background: rgba(196, 196, 196, 0.80);      /* Siva pozadina s transparentnošću */
    color: #ffffff;                             /* Bijeli tekst */
    border: none;                               /* Uklanja rub */
    padding: 10px 20px;                         /* Unutarnji razmak */
    font-size: 16px;                            /* Veličina teksta */
    transition: background-color 0.3s ease;     /* Glatki prijelaz boje */
    margin-top: 20px;
    margin-right: 10px;
}

#spremi-promjene-button:hover {
    background: rgba(100, 100, 100, 0.8);       /* Tamnija nijansa sive prilikom hover efekta */
}
#zatvori-button:hover {
    background: rgba(100, 100, 100, 0.8);       /* Tamnija nijansa sive prilikom hover efekta */
}
#zatvori-button:disabled {
    background: rgba(230, 230, 230, 0.8); /* Svjetlija siva kad je onemogućen */
    cursor: not-allowed;                  /* Pokazivač pokazuje da nije dostupan */
    color: rgba(255, 255, 255, 0.7);      /* Blago posvijetljen bijeli tekst */
}


.moji-podaci-gumbovi-container {
    display: flex;
    flex-direction: row;          /* Vertikalno poravnanje sadržaja */
    justify-content: flex-end;       /* Gumbi će biti na dnu */
    align-items: flex-end;
}

/* Media query za manje prozore */
@media (max-width: 768px) {
    /* .osobni-podaci-container {
        margin: 20px; /* Dodajte razmak između kontejnera i vanjskog diva 
    } */

    .moji-podaci-gumbovi-container {
        flex-direction: column;  /* Postavite gumbe jedan ispod drugog */
        gap: 10px;               /* Dodajte razmak između gumba */
    }

    /* .main-container {
        justify-content: flex-start; /* Ako želite poravnati sadržaj prema vrhu 
        align-items: flex-start;     Poravnanje prema lijevom kutu na manjim ekranima 
    } */
}